@model Plant

<div class="container" style="padding: 0px;">
    <div class="row">
        <div class="col-md-3 col-xs-12">
            <img class="img-thumbnail img-view" src="/img/@Model.Image" alt="@Model.Name" />
        </div>
        <div class="col-md-9 col-xs-12 right-content">
            <h3>@Model.Name</h3>
            <h5>@Model.Type</h5>
            <div>
                <p>@Model.Description</p>
                <p><b>Care:</b> @Model.Care</p>
                <p><b>Price:</b> @Model.Price.ToString("c")</p>
                <div>
                    <p><a style="float: right;" class="btn btn-warning" href="~/Cart/AddToCart/@Model.PlantId/">Add to cart</a></p>
                </div>
            </div>
        </div>
    </div>
</div>