@model Plant

<div class="col-lg-3">
    <a href="~/Home/View/@Model.PlantId"><img class="img-thumbnail" src="/img/@Model.Image" title="@Model.Name" /></a>
    <a href="~/Home/View/@Model.PlantId"><h3>@Model.Name</h3></a>
    <h5>@Model.Type</h5>
    <p>@Model.Price.ToString("c")</p>
    @if (User.IsInRole("Admin"))
    {
        <p><a class="btn btn-warning btn-space" href="~/Home/Edit/@Model.PlantId">Edit</a></p>
        <p>
            @using (Html.BeginForm("Delete", "Home", new { Id = @Model.PlantId }, FormMethod.Post))
            {
                <button class="btn btn-warning btn-space">Delete</button>
            }
        </p>
    }
</div>