@using Microsoft.AspNetCore.Identity
@model Plant_Store.ViewModels.ChangeRoleViewModel

<h3>Changing roles for @Model.UserEmail</h3>

<form asp-action="Edit" method="post">
    <input type="hidden" name="UserId" value="@Model.UserId" />
    <div class="form-group" style="padding-top: 8px;">
        @foreach (IdentityRole role in Model.AllRoles)
        {
            <input type="checkbox" name="roles" value="@role.Name"
                   @(Model.UserRoles.Contains(role.Name) ? "checked=\"checked\"" : "") />@role.Name <br />
            }
    </div>
    <button style="margin-top: 15px;" type="submit" class="btn btn-warning btn-space">Save</button>
</form>